{% extends 'main.html' %}

{% block content%}
{% if servers|length > 0 %}
<table class="styled-table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cpu</th>
      <th>Ram</th>
      <th>Storage</th>
      <th>Tags</th>
      <th>Created</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for server in servers %}
    <tr class="active-row">
        <td>{{server.name}}</td>
        <td>{{server.description}}</td>
        <td>{{server.cpu}}</td>
        <td>{{server.ram}}</td>
        <td>{{server.storage}}</td>
        <td>{{server.tags.all|join:", "}}</td>
        <td>{{server.created}}</td>
        <td><a href="{% url 'update-server' server.id %}">Edit</a></td>
        <td><a href="{% url 'delete-server' server.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<h1>The inventory is empty!</h1>
{% endif %}
<p><a href="{% url 'create-server' %}">Create server</a></p>
{% endblock content %}
